<h1 >Customize texts in advance</h1>

{{!-- <h2>Message Manager</h2> --}}
{{!-- finish putting in fields --}}
<form {{action 'submit' model on='submit'}}>
    <div class="form-group">
        <label class="control-label col-md-2" for="contactRecipient">Contact Name</label>
        <div class="col-md-10">
            {{ input class="form-control text-box single-line" id="contactRecipient" name="contactRecipient" type="text" value=model.message.contactRecipient}}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="body">New Message</label>
        <div class="col-md-10">
            {{input class="form-control text-box single-line" id="body" name="body" type="text" value=model.message.body}}
        </div>
    </div>

          {{!--   <div class="form-group">
                <label class="control-label col-md-2" for="City">City</label>
                <div class="col-md-10">
                    {{input class="form-control text-box single-line" id="City" name="City" type="text" value=model.message.city}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="State">State</label>
                <div class="col-md-10">
                   {{ input class="form-control text-box single-line" id="State" name="State" type="text" value=model.message.state}}
                </div>
                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                </div> --}}
    <div>
        {{#link-to 'digidoo.message' class='btn btn-info'}}Back{{/link-to}}
        <input type="submit" value="Save Message" class="btn btn-default" />
    </div>
</form>
<hr />
<footer>
    <p>&copy; Byrth 2015 - by:Scott Ferguson & Alia Borroho - </p>
</footer>
