<p class="hospital-list"></p>
    {{#each model as |hospital|}}
        <h2 class="h-name">{{hospital.name}}</h2>
        <h4>{{hospital.address}}</h4>
        <h4>{{hospital.city}} , {{hospital.state}}{{hospital.zipcode}}</h4>
{{/each}}




